In [2]:
sdb=[]
dbfields=int(input("how many fields "))

for i in range (dbfields):
[[rollno],[names],[subjects],[marks => [10,20,30],[40,50,60]

IndentationError: expected an indented block after 'for' statement on line 4 (443636907.py, line 5)

In [3]:
sbd=[]
num_records=int(input("Enter the no of recodrs you want to add:"))

for i in range(num_records):
    print(f"\nEnter deatils for records {i+1}:")

    name = input("Enter name: ")
    student_id = int(input("Enter student ID: "))
    department = input("Enter department: ")
    faculty = input("Enter faculty: ")
    score = float(input("Enter score: "))

    record ={
        "name": name,
        "id": student_id,
        "department": department,
        "faculty": faculty,
        "score": score
    }
    sbd.append(record)
    
        
    print("\nDatabase records:")
for i, record in enumerate(database):
    print(f"Record {i+1}: {record}")

Enter the no of recodrs you want to add: 1

Enter deatils for records 1:

Enter name:  sai
Enter student ID:  211
Enter department:  cse
Enter faculty:  phys
Enter score:  90

Database records:

NameError: name 'database' is not defined

In [ ]:
list=[112,34,56,7,8,9,34]
print(*list)

In [ ]:
tuple=(1,)
print(type(tuple)

In [ ]:
l1=[10,"abc","pjh",3.19]
print(l1)

In [ ]:
password = input("enter the password:")
l,u,d,p=0,0,0,0
special_char=("!@#$%^&*()-_+=<>?")
if (len(password)>= 8):
    for i in password:
        if(i.islower()):
            l+=1
        if(i.isupper()):
            u+=1
        if(i.isdigit()):
            d+=1
        if i in special_char:
            p+=1
if(l>=1 and u>=1 and d>=1 and p>=1):
    print("valid password")
else:
    print("invalid password")

In [ ]:
celsius = int(input("Enter the Temperature in Celsius :\n"))

fahrenheit = (1.8 * celsius) + 32

print("Temperature in Fahrenheit :", fahrenheit)

In [2]:
def calculate_salary(hourly_wage, hours_worked):
   
    REGULAR_HOURS = 40
    OVERTIME_MULTIPLIER = 1.5
    
    
    if hours_worked > REGULAR_HOURS:
        regular_hours = REGULAR_HOURS
        overtime_hours = hours_worked - REGULAR_HOURS
    else:
        regular_hours = hours_worked
        overtime_hours = 0

   
    regular_salary = regular_hours * hourly_wage
    overtime_salary = overtime_hours * hourly_wage * OVERTIME_MULTIPLIER
    total_salary = regular_salary + overtime_salary
    
    return total_salary

hourly_wage = 20000
hours_worked = 50

In [3]:
def count_variables(expression):
    variables = set(filter(str.isalpha, expression))
    return len(variables)


expression = input("Enter the mathematical expression : ")
num_matrices = count_variables(expression)

print(f"Number of matrices needed: {num_matrices}")

Enter the mathematical expression (e.g., x + y + z):  X+Y+X

Number of matrices needed: 2

In [ ]:
def count_variables(expression):
    variables = set(filter(str.isalpha, expression))
    return len(variables)

def get_matrix_input(var_name):
    print(f"Enter matrix for variable '{var_name}' (rows should be comma-separated values):")
    matrix = []
    while True:
        row = input("Enter a row (or type 'done' to finish): ")
        if row.lower() == 'done':
            break
        try:
            matrix.append(list(map(float, row.split(','))))
        except ValueError:
            print("Invalid input. Please enter numbers separated by commas.")
    return matrix

expression = input("Enter the mathematical expression (e.g., x + y + z): ").strip()
num_matrices = count_variables(expression)

matrices = {}
for i in range(num_matrices):
    var_name = chr(ord('x') + i).upper()  # Assumes variables are 'X', 'Y', 'Z', etc.
    matrices[var_name] = get_matrix_input(var_name)

print("\nEntered matrices:")
for var_name, matrix in matrices.items():
    print(f"Matrix for variable '{var_name}':")
    for row in matrix:
        print(row)

Enter the mathematical expression (e.g., x + y + z):  X+XZ

Enter matrix for variable 'X' (rows should be comma-separated values):

Enter a row (or type 'done' to finish):  2
Enter a row (or type 'done' to finish):  3
Enter a row (or type 'done' to finish):  3
Enter a row (or type 'done' to finish):  3

In [ ]:
names = ["Alice", "Bob", "Charlie"]
roll_numbers = [101, 102, 103]
english_marks = [85, 90, 88]
maths_marks = [92, 85, 89]
social_marks = [78, 80, 84]

students = list(zip(names, roll_numbers, english_marks, maths_marks, social_marks))

def get_student_details(roll_number):
    for student in students:
        name, roll, english, maths, social = student
        if roll == roll_number:
            return {
                "Name": name,
                "Roll Number": roll,
                "English Mark": english,
                "Maths Mark": maths,
                "Social Mark": social
            }
    return "Roll number not found."

search_roll_number = int(input("Enter roll number to search: "))
print(get_student_details(search_roll_number))